table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

thead th {
  background-color: #4caf50;
  color: white;
  padding: 12px;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

tbody tr {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody td {
  padding: 12px;
  color: #333;
}

tbody td img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

tbody td:first-child {
  font-weight: bold;
}

tbody td:last-child {
  font-size: 0.9rem;
  color: #666;
}

/* .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
