* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  margin-top: 15px;
}
.app {
  width: 100vw;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
